@charset "utf-8";
/* CSS Document */
* {
  	box-sizing: border-box;
  	font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
  	font-size: 16px;
	
}
body {
  	background-image: url("../images/login_bg.jpg");
    background-size: cover;/* Resize the background image to cover the entire container */
    background-repeat: no-repeat;/* Do not repeat the image */
    background-position: center;/* Center the image */
}
.login {
  	width: 400px;
  	background-color: white;
  	box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
  	margin: 60px auto;
}
.login h1 {
  	text-align: center;
  	color: #16733E;
  	font-size: 24px;
}
.login form {
  	display: flex;
  	flex-wrap: wrap;
  	justify-content: center;
	padding-bottom: 20px;
	padding-top: 10px;
}
.login form label {
  	display: flex;
  	width: 200px;
  	color: #16733E;
}
.login form input[type="password"], .login form input[type="text"]{
  	width: 310px;
  	height: 33px;
  	border: 1px solid #dee0e4;
  	margin-bottom: 10px;
  	padding: 0 15px;
}
.login form input[type="submit"] {
  	width: 100%;
  	padding: 15px;
 	margin-top: 20px;
  	background-color: #16733E;
  	border: 0;
  	cursor: pointer;
  	font-weight: bold;
  	color: #ffffff;
  	transition: background-color 0.2s;
}
.login form input[type="submit"]:hover {
	background-color: #16733E;
  	transition: background-color 0.2s;
}

.reg{
	cursor: pointer;
	color: blue;
	text-decoration: underline;
	margin-left: 10px;
}
.reg:hover{
	color: #100CCB;
}

.text-right{
    text-align: right;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: #1EB72C;
}
li{
    display: inline;
    padding: 1%;
    font-weight: bold;
	font-family: 'lato', sans-serif;
}
header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        padding: 5 20 0 0;
		background-color: #363636;
}
header .logo {
        float: left;
        height:50;
		margin-left: 20px;
}

header .logo img {
        height: 100%;
        width: auto;
}
